<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8"/>
</head>

<body>

<div th:fragment="header">

  <div class="row">
    <div class="col-6">
      <span class="h3">Poseidon</span><br>
      <a href="/">Bid List</a>&nbsp;|&nbsp;
      <a href="/curvePointHomePage">Curve Points</a>&nbsp;|&nbsp;
      <a href="/ratingHomePage">Ratings</a>&nbsp;|&nbsp;
      <a href="/tradeHomePage">Trade</a>&nbsp;|&nbsp;
      <a href="/ruleNameHomePage">Rule</a>
    </div>

    <span th:if="${session.hasAdminRole}">
    <a href="/user">Users</a> |
</span>
    <a href="/app-logout">Logout</a>
  </div>
</div>

</body>
</html>
