<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="ISO-8859-1">
  <title>RuleName Management System</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
<div class="container">
  <h1>RuleName Management System</h1>
  <hr>
  <h2>Save RuleName</h2>

  <form action="#" th:action="@{/saveRuleName}" th:object="${ruleNameDto}" method="POST">

    <input type="text" th:field="*{description}" placeholder="description" class="form-control mb-4 col-4">
    <p th:errors="*{description}" class="text-danger" th:if="${#fields.hasErrors('description')}"></p>

    <input type="text" th:field="*{json}" placeholder="json" class="form-control mb-4 col-4">
    <p th:errors="*{json}" class="text-danger" th:if="${#fields.hasErrors('json')}"></p>

    <input type="text" th:field="*{name}" placeholder="name" class="form-control mb-4 col-4">
    <p th:errors="*{name}" class="text-danger" th:if="${#fields.hasErrors('name')}"></p>

    <input type="text" th:field="*{sqlPart}" placeholder="sqlPart" class="form-control mb-4 col-4">
    <p th:errors="*{sqlPart}" class="text-danger" th:if="${#fields.hasErrors('sqlPart')}"></p>

    <input type="text" th:field="*{sqlStr}" placeholder="sqlStr" class="form-control mb-4 col-4">
    <p th:errors="*{sqlStr}" class="text-danger" th:if="${#fields.hasErrors('sqlStr')}"></p>

    <input type="text" th:field="*{template}" placeholder="template" class="form-control mb-4 col-4">
    <p th:errors="*{template}" class="text-danger" th:if="${#fields.hasErrors('template')}"></p>


    <button type="submit" class="btn btn-info col-2"> Save RuleName </button>
  </form>

  <hr>

  <a th:href="@{/ruleNameHomePage}"> Back to RuleName List</a>
</div>
</body>

</html>