<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="ISO-8859-1">
  <title>Users Management System</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
<div class="container">
  <h1>Users Management System</h1>
  <hr>
  <h2>Update Users</h2>

  <form th:action="@{/updateUser/{id}(id=${userDto.id})}" th:object="${userDto}" method="POST">


    <input type="text" th:field="*{username}" class="form-control mb-4 col-4">
    <p th:errors="*{username}" class="text-danger" th:if="${#fields.hasErrors('username')}"></p>


    <input type="text" th:field="*{fullName}" class="form-control mb-4 col-4">
    <p th:errors="*{fullName}" class="text-danger" th:if="${#fields.hasErrors('fullName')}"></p>


    <input type="text" th:field="*{role}" class="form-control mb-4 col-4">
    <p th:errors="*{role}" class="text-danger" th:if="${#fields.hasErrors('role')}"></p>


    <input type="text" th:field="*{password}" class="form-control mb-4 col-4">
    <p th:errors="*{password}" class="text-danger" th:if="${#fields.hasErrors('password')}"></p>


    <button type="submit" class="btn btn-info col-2"> Update Users</button>
  </form>

  <hr>

  <a th:href="@{/user}"> Back to User List</a>
</div>
</body>

</html>